* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin-left: 100px;
  width: 700px;
}
.display {
  margin: 40px 20px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border: 1px solid rgb(194, 193, 193);
  border-radius: 10px;
}

.left-button{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.right-button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
span{
    color:blue;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.item {
  grid-column: span 2;
}
.number{
    background-color: rgb(225, 225, 225);
}
.equal{
    background-color: rgb(56, 86, 255);
}

button {
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: rgb(134, 223, 255);
}


@media screen and (max-width: 768px){
    .buttons{
        grid-template-columns: 1fr;
    }
    .left-button{
        grid-row: 2 ;
    }
    body {
  width: 400px;
}
}